In [3]:
# CIS 545

In [4]:
## CIS 545 Homework 1 - Spring 2019
# Updated January 2019

# CIS 545 Homework 1: Data Wrangling and Analysis
### Due February 11, 2019 by 10pm

Big data analytics often requires (1) importing data from multiple sources, possibly extracting content from text; then (2) combining data from multiple sources, possibly from multiple different organizations, in heterogeneous formats.  For this assignment, our primary goals are to get you comfortable with importing, extracting, saving, and combining data -- largely using `Pandas DataFrames` as the basic abstraction.  You’ll read data from files, address issues with missing values, save the data in a database, combine the data, and generate visualizations.

*The Task*     
Most of you likely were on a plane over the summer, and chances are that at least one of your flights got delayed.  Did you ever wonder how well different airlines do?  We’ll answer those questions in this assignment!  (Caveat: with apologies to international travelers, most of the data is only available for US cities and routes!)

*Terminology*      
We’ll generally use `field`, `column`, and `attribute` interchangeably to mean a named column in a DataFrame.  We’ll also generally assume that `table`, `DataFrame`, and `relation` mean the same thing.

*Submission*      
See the external document for submission information.  Remember to also do **Homework 1, Part 2** and optionally **Homework 1-Advanced**.

*NBGrader Information*      
We're using a package called `nbgrader` to grade your assignments using an autograding system. With that, there's a couple things to take note:
- If we specify a format, please use it!
- Some cells will not be able to be edited - that is totally fine, we'll mark them
- You may add/remove cells, but if a cell is marked test cases, please don't change it...just add cells before/after it!

*Score Breakdown*
Homework 1 has two parts, Part 1 and Part 2, which are each worth 50 points. The Advanced assignment, when released, will be worth an additional portion (ex: Advanced assignments may be graded out of 120 or 125 instead of 100).
- Step 1: 21 pts
- Step 2: 29 pts
- Step 3: 0 pts (However, if this is done incorrectly, tests in Step 4 will fail!)
- Step 4: 30 pts
- Step 5: 20 pts

## Part 1: Data Extraction and Cleaning
We'll begin by importing the data and doing some basic information extraction and cleaning. This helps prepare our dataset for analysis later on, in Part 2: Data Wrangling and Analysis.

The data files, whose contents are described in the provided notebook _Dataset Descriptions_, are:

* `airports.dat.txt` - data on airports, in comma-separated values (CSVs) with no header row

* `airlines.dat.txt` - data on airlines, in CSV with no header row

* `routes.dat.txt` - data on flight routes, in CSV with no header row

* http://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n - remote file with data on actual flights, with performance info, with a header row

* `aircraft_incidents.htm` - webpage that lists commercial aircraft incidents by year

## Step 1: Importing CSV Data

The first task will be to import tabular data.  Before you get started, run the following...

In [5]:
# csv is a package for file reading/IO
import csv

# pandas is the data analysis library we'll use in this course
import pandas as pd

In [6]:
# YOUR CODE HERE

In [7]:
# This cell can ultimately be removed - it is just to let your notebook compile
# until you write your solution
airports_df = pd.DataFrame({})
airlines_df = pd.DataFrame({})
flights_df = pd.DataFrame({})
routes_df = pd.DataFrame({})

## 1.1 Importing Tabular Data

Fill in the Cells below to read the specified input files using Pandas’ `read_csv` function.  For the first 3 sources you’ll need to assign column names to the data, based on the **Dataset Descriptions** and some hints below.  

We use the variable names `airports_df`, `airlines_df`, `routes_df`, and `flights_df` to refer to the DataFrames below. The `_df` is because Python is dynamically typed, so it helps make code more clear when the type is apparent from the variable name.

For your variables and your column names, follow the Python convention that names are in lowercase and underscores are used as spaces. Specifically, when naming columns that are ***shared*** between datasets, use the format datasource_property (i.e. `airport_id`, `airport_name`, `airline_id`, etc.). Distinct columns do not need to be treated this way, similarly with columns that are okay to share with same name (use your data scientist thinking to figure out which these might be!)

Please keep `lat`, `lon` and `alt` as abbreviations, but note that under the Python naming conventions these are lowercase in our dataframe columns!

In [8]:
# TODO: Load airports.dat.txt into a dataframe called airports_df
# Read the above paragraph for namings!

airports_df = pd.read_csv('airports.dat.txt', header = None, names = ['airport_id','airport_name','airport_city','airport_country','airprot_iata_faa','airport_icao','latitude','longitude','altitude','timezone','dst','tz'])
flights_df = pd.DataFrame({})
airports_df.head(10)

,airport_id,airport_name,airport_city,airport_country,airprot_iata_faa,airport_icao,latitude,longitude,altitude,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule

You should see info on your dataframe's schema if you run this cell...

In [9]:
airports_df.dtypes

airport_id            int64
airport_name         object
airport_city         object
airport_country      object
airprot_iata_faa     object
airport_icao         object
latitude            float64
longitude           float64
altitude              int64
timezone            float64
dst                  object
tz                   object
dtype: object

This is the first of many *test case* cells that will help you to (partly) validate that you're on the right path with your answers.  If this (or any of the other cells) fails, this is a clue that your output isn't what we expect.

We also have hidden test cells used to grade your homework, which are marked with:

`[CIS 545 Test Cases] (XXX pts)` and end with `print('[CIS 545 Test Cases] (XXX pts)')`

The test cells should be read-only, but you still should not attempt to edit any of these cells. Typically, our hidden cells are more restrictive in addition to being worth more points. The public test cells are meant just as a gentle guidance, and passing them doesn't mean your answer will receive full points! Being very thorough in your work will help the chances of that.

In [10]:
# [CIS 545 Test Cases] (0 pts)
# This is an example of a test cell! 
# Please don't edit it!

if (len(airports_df) < 8100 or len(airports_df) > 8150): 
    raise ValueError('Your DataFrame doesn''t have the expected number of rows')
    
if (len(airports_df.columns) < 11 or len(airports_df.columns) > 12): # 11 or 12 expected
    raise ValueError('Your DataFrame doesn''t have the expected number of columns')

try:
    if (airports_df['airport_id'].dtype != 'int64'):
        raise ValueError('Airport ID is wrong type, should be integer')
    if (airports_df['airport_name'].dtype != 'object'):
        raise ValueError('Airport name is wrong type, should be object (string)')
    pass

except KeyError:
    raise KeyError('You likely misspelled a column name or didn''t load the dataframe')
    pass


print('[CIS 545 Test Cases] (0 pts)')

[CIS 545 Test Cases] (0 pts)

In [11]:
# [CIS 545 Test Cases] (2 pts)
# Testing dtypes of your dataframe


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [12]:
# TODO: Load airlines.dat.txt into a dataframe called airlines_df
# Again, check Dataset Descriptions!

# YOUR CODE HERE
airlines_df = pd.read_csv('airlines.dat.txt', header = None, names =['airline_id','airline_name','alias','airline_iata','airline_icao','airline_callsign','airline_country','active'])

In [13]:
len(airlines_df)

6048

In [14]:
airlines_df.dtypes

airline_id           int64
airline_name        object
alias               object
airline_iata        object
airline_icao        object
airline_callsign    object
airline_country     object
active              object
dtype: object

In [15]:
# [CIS 545 Test Cases] (0 pts)

if (len(airlines_df) < 6030 or len(airlines_df) > 6060):
    raise ValueError('Unexpected number of airlines rows')
    
if (len(airlines_df.columns) != 8):
    raise ValueError('Unexpected number of columns in airlines')


print('[CIS 545 Test Cases] (0 pts)')

[CIS 545 Test Cases] (0 pts)

In [16]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Now, let's do the same for `routes` - notice that we have source and destination ID and IATA/ICAO code. For `Source airport` please use `src_iata_icao` and for `Source airport ID` please use `source_id` - for the destinations, use `target` for both (`target_iata_icao` and `target_id`).

Note that `Codeshare` you should import as `code_share`

In [17]:
# TODO: Load routes.dat.txt into a dataframe called routes_df
# Same idea as before!

# YOUR CODE HERE
routes_df = pd.read_csv('routes.dat.txt', header = None, names =['airline_iata_icao','airline_id','src_iata_icao','source_id','target_iata_icao','target_id','code_share','stops','equipment'])

In [18]:
routes_df.dtypes

airline_iata_icao    object
airline_id           object
src_iata_icao        object
source_id            object
target_iata_icao     object
target_id            object
code_share           object
stops                 int64
equipment            object
dtype: object

In [19]:
# [CIS 545 Test Cases] (0 pts)
# Basic routes_df tests

if (len(routes_df) < 67660 or len(routes_df) > 67700):
    raise ValueError('Unexpected number of routes')
    
if (len(routes_df.columns) != 9):
    raise ValueError('Unexpected number of route columns')

if ('source_id' not in routes_df.columns):
    raise KeyError('Missing expected source_id field from routes')

if ('target_iata_icao' not in routes_df.columns):
    raise KeyError('Missing expected target_iata_iaco field from routes')


print('[CIS 545 Test Cases] (0 pts)')

[CIS 545 Test Cases] (0 pts)

In [20]:
# [CIS 545 Test Cases] (2 pts)
# routes_df data tests


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

For the last dataframe, `flights_df`, you are importing from a CSV with a header.  For now, have Python use the header names already in the file. When calling read_csv, use the option use_cols to specify a list of columns to import.  Only include the following fields (these were named in the CSV file header from BTS, and thus don’t follow Python naming conventions): [`YEAR`,`MONTH`,`DAY_OF_MONTH`,`CARRIER`,`FL_NUM`,`ORIGIN`,`DEST`,`ARR_DELAY_NEW`,`CANCELLED`]

The data is at: https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n

In [21]:
# TODO: Import https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n into flights_df, but
# also restrict to the following columns: 'YEAR','MONTH','DAY_OF_MONTH','CARRIER',
# 'FL_NUM','ORIGIN','DEST','ARR_DELAY_NEW','CANCELLED'

import requests
from io import StringIO

remote = requests.get('https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n').content
#remote = requests.get('https://newsroom.fb.com/').content
#remote

In [22]:
# You can read from the remote file via:
flights_df = pd.read_csv(StringIO(remote.decode('utf-8')),
                      usecols = ['YEAR','MONTH','DAY_OF_MONTH','CARRIER','FL_NUM','ORIGIN','DEST','ARR_DELAY_NEW','CANCELLED'])
    #这样为什么不可以？                  
    #names = ['year','month','day_of_month','carrier','fl_num','flight_src','flight_target','arr_delay_new','cancelled'])
flights_df.columns = ['year','month','day_of_month','carrier','fl_num','flight_src','flight_target','arr_delay_new','cancelled']                                
len(flights_df)
# But you also need to use particular columns as per the HW spec

# YOUR CODE HERE

570118

In [23]:
#pd.read_csv? requests.get('https://').content

In [24]:
# [CIS 545 Test Cases] (1 pt)
# Basic checks on the size of flights - you should pass all these!

if (len(flights_df) != 570118):
    raise ValueError('Expected a different number of flights from' + str(len(flights_df)))
    
if (len(flights_df.columns) != 9):
    raise ValueError('Perhaps you forgot to remove a column? Number of columns isn''t as expected, at ' + str(len(flights_df.columns)))
        
print('[CIS 545 Test Cases] (1 pt)')

[CIS 545 Test Cases] (1 pt)

In [25]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

## Notes on the data so far

The data you've imported isn't yet perfect....

**Nulls**.  You should see for airlines a variety of entries that say “NaN” (not a number), which represents “unknown” or null information.  In fact, if you look closely there are also other values representing “unknown” such as “\N” and even “-”.  We’ll have to regularize all of this later!

**Schemas**.  OK, you’ve loaded the DataFrames.  You can get the schemas -- the names and types of the columns -- of the DataFrames by the `dtypes` property.  Use `airlines_df.dtypes` and `routes_df.dtypes` to take a look at the schemas.  Now compare the types of `routes_df.airline_id` and `airlines_df.airline_id`.  You should see that one is `int64` and the other is `object`.

Why is this?  Python automatically infers the types based on what it reads from the CSV files.  Unfortunately, things like “NaN” are actually floating-point (fractional) numbers and “\N” is a string.  If a column has multiple kinds of values, Python will consider it to be an “object.”  Unfortunately, this will interfere with how we combine tables later, so we need to “clean” the data.  

We'll come back to this later in Homework 1, Part I.  Before that we'll let you take a look at the data to see the issues, and then we'll import even more data (text data this time!).

In [26]:
# YOUR CODE HERE

In [27]:
# YOUR CODE HERE

## 1.1 Final Results
Just run these cells! We've made them read-only and they're not graded.

In [28]:
# Output airports_df
airports_df.head(10)

,airport_id,airport_name,airport_city,airport_country,airprot_iata_faa,airport_icao,latitude,longitude,altitude,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule

In [29]:
# Output airlines_df
airlines_df.head(10)

,airline_id,airline_name,alias,airline_iata,airline_icao,airline_callsign,airline_country,active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
5,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,\N,NaN,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,\N,NaN,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,\N,NaN,SEC,SECUREX,United States,N
9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y

In [30]:
# Output routes_df
routes_df.head(10)

,airline_iata_icao,airline_id,src_iata_icao,source_id,target_iata_icao,target_id,code_share,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
5,2B,410,DME,4029,KZN,2990,NaN,0,CR2
6,2B,410,DME,4029,NBC,6969,NaN,0,CR2
7,2B,410,DME,4029,TGK,\N,NaN,0,CR2
8,2B,410,DME,4029,UUA,6160,NaN,0,CR2
9,2B,410,EGO,6156,KGD,2952,NaN,0,CR2

In [31]:
# Output flights_df
flights_df.head(10)

,year,month,day_of_month,carrier,fl_num,flight_src,flight_target,arr_delay_new,cancelled
0,2018,1,2,WN,1325,SJU,MCO,0.0,0.0
1,2018,1,2,WN,5159,SJU,MCO,0.0,0.0
2,2018,1,2,WN,5890,SJU,MCO,9.0,0.0
3,2018,1,2,WN,6618,SJU,MCO,0.0,0.0
4,2018,1,2,WN,1701,SJU,MDW,8.0,0.0
5,2018,1,2,WN,844,SJU,TPA,23.0,0.0
6,2018,1,2,WN,4679,SJU,TPA,0.0,0.0
7,2018,1,2,WN,6294,SLC,BUR,20.0,0.0
8,2018,1,2,WN,5245,SLC,DAL,0.0,0.0
9,2018,1,2,WN,2278,SLC,DEN,0.0,0.0

In [32]:
#flights_df.day_of_month.value_counts()

In [33]:
#flights_df.groupby(['day_of_month','flight_src']).count()
#flights_df.sort_values(['fl_num','day_of_month'], ascending=True) # numpy -> order

## 1.2 Importing Text Data

We are going to scrape data from the aircraft_incidents.htm webpage using the *beautifulsoup4* package. More details can be found in the documentation: https://www.crummy.com/software/BeautifulSoup/bs4/doc/.

Run the code snippet that stores the web content in soup. Once the content is extracted, we need to get rid of the HTML tags and select the data we are going to be looking at. The data we need are the year and the description of the incidents under that year. It can be seen that the HTML tag (almost always) for the year is `<h3>` and for the incidents it is `<li>`.

In [34]:
# bs4 is one of the packages frequently used for HTML parsing!
# Just run this cell, but reading the bs4 docs will help later...

from bs4 import BeautifulSoup
input_html = "aircraft_incidents.htm"

# Open file I/O
with open(input_html, "r") as ifile:
    # soup is the bs4 object 
    soup = BeautifulSoup(ifile, 'html.parser')

In [1]:
# file = requests.get("http://localhost:8888/view/hw1/aircraft_incidents.htm").content
# fi = BeautifulSoup(file)
# fi
# soup

Using beautifulsoup4’s `find_all`(list of tags) function, only select the content under those HTML tags. Store the data in a list of strings called `selected_data`, where each year or incident description is a separate string in the list.

In [36]:
soup_tag = soup.find_all(['h3','li']) #h3: year, li: description

In [2]:
# TODO: Select Year and Incident description. It can be seen that they are usually
# <h3> or <li> tags.

# Assign the results to variable selected_data. 
selected_data = [] # Fill this in with your code after!

# YOUR CODE HERE
# for i in range(0,len(soup_tag)):
#     selected_data.append(soup_tag[i])
## does every element in the list need to be a list?
for item in soup_tag:
    selected_data.append(item.get_text())
    
print(selected_data)

NameError: name 'soup_tag' is not defined

In [38]:
# [CIS 545 Test Cases] (1 pt)
# Basic checks on selected_data

if (not type(selected_data) is list):
    raise ValueError('''For efficiency, please 
    store selected_data as list''')
    
if (len(selected_data) < 1570 or len(selected_data) > 1585):
    raise ValueError("Don't have the expected number of entries")
    

print('[CIS 545 Test Cases] (1 pt)')

[CIS 545 Test Cases] (1 pt)

In [39]:
# [CIS 545 Test Cases] (2 pts)
# Checking selected_data more rigorously


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [40]:
# [CIS 545 Test Cases] (2 pts)
# Checking selected_data more rigorously


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Finally, check if all the HTML tags have been removed. Output the message 'No Tag Found!’, if successful.

In [41]:
# TODO: Check if all tags have been removed
# Output 'No Tag Found!' if no tags

# YOUR CODE HERE
if(('<' and '>' not in selected_data) == True):
    print('No Tag Found!')
else:
    print('Tag Found!')
#len(selected_data)

No Tag Found!

In [42]:
# [CIS 545 Test Cases] (2 pts)
# Checking HTML cleaning


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [43]:
# View a slice of selected_data
selected_data[:15]

['1919[edit]',
 'July 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.',
 'August 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).',
 '1920[edit]',
 'December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.',
 '1922[edit]',
 'April 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.',
 '1923[edit]',
 'May 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.',
 'August 27 – An Air Union Farman F.60 Goliath crashes near East Malling, Kent, England, due to engine failure, and confusion among the passengers, killing one of 13 on board.',
 'September 14 – A Daimler Airway de Havilland DH.34 crashes at Ivinghoe, Buckinghamshire, England, after stalling while attempting an emergency landing, killing all five on board.',
 '1924[edit]',
 'December 24 – An Imperial Airways de Havilland DH.34 crashes near Purley, Surrey, England, due to a stall during an attempted emergency landing in response to an unknown mechanical defect, killing all eight on board.',
 '1926[edit]',
 'August 18 – An Air Union Blériot 155 crashes while attempting an emergency landing at College Farm, Hurst, Aldington, England, due to engine failure, killing three of 15 on board; the pilot initially survives, but dies a day later.']

Now we'd like you to save the results to a file called `incidents_raw.txt`.  You can use the file commands: `open`, `write`, and `close`.  Be sure to write a newline (`\n`) after each line, so that later you can read the lines back.

In [44]:
# TODO: Write selected_data to incidents_raw.txt

# YOUR CODE HERE
# data=selected_data[-500:]
# data2
# f = open('incidents_raw2.txt', 'w')
# for item in data2:
#     f.write(item)
#     f.write('\n')
# f.close
## 为什么用open就会最后一部分数据丢失

with open('incidents_raw.txt', 'w') as f:
    for item in selected_data:
        f.write(item + '\n')
# with open('incidents_raw.txt', 'r') as f:
#     print(f.read())

In [45]:
# [CIS 545 Test Cases] (5 pts)
# Checking incidents_raw processing - this is worth a lot!


print('[CIS 545 Test Cases] (5 pts)')

[CIS 545 Test Cases] (5 pts)

## Step 2: Simple Data Cleaning

Now we need to do some further cleaning to both the CSV and text data.

(use Insert|Insert Cell Above or Insert Cell Below as needed to add further cells)

## 2.1 Cleaning Tabular Data
We are going to clean the `airlines_df`, `airports_df`, and `routes_df` DataFrames.  First, run a "helper" function we've defined for you.

In [46]:
# Replace NaNs with blanks if the column is a string
# Everything should be of a consistent type
def fillna_col(series):
    if series.dtype is pd.np.dtype(object):
        return series.fillna('')
    else:
        return series

Additionally, define a second function called `nullify` that takes a single parameter `x`. Given the parameter value `\N` it returns `NaN`, otherwise it returns the value of the parameter.

In [47]:
# TODO: Define nullify here

# YOUR CODE HERE
import numpy as np
def nullify(x):
    if x == r'\N':
        #x.fillna(NaN)
        #print(x)
        return np.NaN
    else:
        return x
    
## what does Given the parameter value \N it returns NaN
## 这里不知道对不对诶

In [48]:
# if (nullify(r'\N') != 'NaN'):
#     raise ValueError("Nullify doesn't seem to work!\n")
pd.np.dtype(object)

dtype('O')

In [49]:
# [CIS 545 Test Cases] (2 pts)
# Checking nullify

# Test that nullify on 'abc' just returns the value
if (nullify('abc') != 'abc'):
    raise ValueError("Nullify doesn't seem to work!\n")

# Ditto for an integer
if (nullify(3) != 3):
    raise ValueError("Nullify doesn't seem to work!\n")
    
print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [50]:
# [CIS 545 Test Cases] (3 pts)
# Checking nullify


print('[CIS 545 Test Cases] (3 pts)')

[CIS 545 Test Cases] (3 pts)

### 2.1.1 Regularizing and removing nulls

Next, we’ll need to use two functions to apply `nullify` and `fillna_col` to our DataFrames.  

The DataFrame applymap function can be used to apply a function to every cell of a DataFrame.  We can use this to apply nullify to all of the elements in each of our DataFrames (airports, airlines, etc.) and get rid of all of the “\N”s.

The DataFrame `apply` function can be used to apply a function to every column of a DataFrame.  Let’s use that to call `fillna_col `on the DataFrames -- replacing the NaNs with blank strings if the column is otherwise an object.

Also, let’s get rid of rows in `routes_df` that have null airline, source, or destination IDs.  Recall that `dropna` can be used here.

You’ll want to update your DataFrames using all of the above functions.  Think carefully about the order in which to apply these.

In [51]:
# TODO: regularize and remove nulls according to Step 2

# YOUR CODE HERE
#airports_df.head(20) 
#airlines_df.head(20)
#routes_df.head(20)

# a=0
# for i in range(0,len(airports_df.columns)): 
#     print(airports_df.iloc[:,i].value_counts(r'\N'))

airports_df = airports_df.applymap(lambda x: nullify(x))
airlines_df = airlines_df.applymap(lambda x: nullify(x))
routes_df = routes_df.applymap(lambda x: nullify(x))
#routes_df1.index == r'\N'
routes_df = routes_df.dropna(subset=['airline_id','source_id','target_id'], how='any')
## 不知道他的要求是不是这个意思啊
#routes_df.head(10)
airports_df = airports_df.apply(lambda x: fillna_col(x))
airlines_df = airlines_df.apply(lambda x: fillna_col(x))
routes_df = routes_df.apply(lambda x: fillna_col(x))

In [52]:
# [CIS 545 Test Cases] (1 pt)
# Basic checks of your dataframes

if airports_df.isnull().sum().sum() != 0:
    raise ValueError('airports_df still has NaNs')
    
if airlines_df.isnull().sum().sum() != 0:
    raise ValueError('airlines_df still has Nans')
    
if routes_df.isnull().sum().sum() != 0:
    raise ValueError('routes_df still has Nans')
    
print('[CIS 545 Test Cases] (1 pt)')

[CIS 545 Test Cases] (1 pt)

In [53]:
## [CIS 545 Test Cases] (2 pts)
# Checking your data cleaning


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [54]:
# [CIS 545 Test Cases] (2 pts)
# Checking your data cleaning


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

### 2.1.2 Changing column types

After all of this, `routes_df.airline_id` will only have integers, but will still have its existing type of object.  Later we’ll need it to be an integer, so that it can be compared directly with the entries from `airlines_df` and `airports_df`.  Let’s convert it to integer via:

```
routes_df['airline_id'] = routes_df['airline_id'].astype(int)
```

Repeat the same process for the source and destination airport IDs.

In [55]:
# TODO: Change column types according to Step 2

# YOUR CODE HERE
#routes_df.head(10)
routes_df['airline_id'] = routes_df['airline_id'].astype(int)
routes_df['source_id'] = routes_df['source_id'].astype(int)
routes_df['target_id'] = routes_df['target_id'].astype(int)
routes_df['airline_id'].dtype

dtype('int64')

In [56]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

## 2.2 Cleaning the Text Data

We will clean the raw text data we stored in `incidents_raw.txt`. For each incident, we want it in the form:

```
1997 January 9 , Comair Flight 3272, an Embraer EMB 120 Brasília, crashes near Ida, Michigan, during a snowstorm, killing all 29 on board.
```

Points to follow during cleaning:

* Remove `[edit]` from the year

* Only select incidents that have occured in the year >= 1997

* Since we extracted the data using tags `<h3>` and `<li>`, it is possible that there was other data extracted too. See the end of file `incidents_raw.txt`. However, if we look at the format of all the incidents, we can see that they all contain: *month*, the word `Flight` and the symbol `–`. Use these conditions to filter out unwanted data.

* Store all the cleaned incidents in a list named `clean_incidents`.

In [57]:
# TODO: Read and clean raw text file and store in clean_incidents

# YOUR CODE HERE

import re

clean_incidents = []
year = 0
with open ('incidents_raw.txt','r') as f:
    for line in f.readlines():
        line = line.strip()
        if '[edit]' in line:
            line = line.strip('[edit]')
            year = line
        #elif re.match(r'^([a-zA-Z]+) ([0-9]+)(\s*)(-|–)(\s*)((.*)(\s*)*)(Flight)',line) != None:
        elif line.find("Flight")!=-1 and line.find("–")!=-1:
#         re.match(r'(-|–) (Flight)',line) != None:
            line = re.sub(r' (-|–) ', r' , ', line)
            line = re.sub(r';', r',', line)
            clean_incidents.append(year+' '+line)
#         else:
#             print(line)

for i in range(0, len(clean_incidents)):
    if re.match('1997',clean_incidents[i]) != None:
        break
clean_incidents = clean_incidents[i:]
            
len(clean_incidents)
#clean_incidents

331

In [58]:
# [CIS 545 Test Cases] (2 pts)
# Very basic testing of your dataframe...

if len(clean_incidents) < 330 or len(clean_incidents) > 335: #331 expected
    raise ValueError("Don't have the expected number of entries")

if not clean_incidents[0].startswith('1997'):
    raise ValueError("Don't have the expected start date")
    
print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [59]:
# [CIS 545 Test Cases] (2 pts)
# Checking the values in clean_incidents


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [60]:
# [CIS 545 Test Cases] (2 pts)
# Checking the values in clean_incidents


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [61]:
# [CIS 545 Test Cases] (2 pts)
# Checking the values in clean_incidents


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Now that we have all the aircraft incidents since 1997, we need to convert them into a Pandas DataFrame. Use the empty dataframe `incidents_df`.  For each entry in clean_incidents, extract the date, airline name and flight number (only the part that comes after `Flight`, and you should remove what are called "stop words" like a, an, the) then store it as a new row in `incidents_df`. Set the column type of `incidents_df['Date']` to `datetime`. Drop any duplicates from `incidents_df`.

In [62]:
clean_incidents[:10]

['1997 January 9 , Comair Flight 3272, an Embraer EMB 120 Brasília, crashes near Ida, Michigan, during a snowstorm, killing all 29 on board.',
 '1997 March 18 , Stavropolskaya Aktsionernaya Avia Flight 1023, an Antonov An-24, breaks up in flight and crashes near Cherkessk, Russia, all 50 on board die.',
 '1997 April 19 , Merpati Nusantara Airlines Flight 106, a BAe ATP crashes during a failed go-around in bad weather at Buluh Tumbang International Airport, Indonesia. 15 of the 53 passengers and crew are killed.',
 '1997 May 8 , China Southern Airlines Flight 3456, a Boeing 737, makes a hard landing in Shenzhen, China, during poor weather and crashes, killing 35 of the 74 people on board.',
 '1997 July 31 , FedEx Express Flight 14, a McDonnell Douglas MD-11, crashes upon landing at Newark Liberty International Airport, the two crew members and three passengers escape uninjured.',
 '1997 July 17 , Sempati Air Flight 304, a Fokker F27, crashes shortly after take off from Husein Sastranegara International Airport. 28 people were killed.',
 '1997 August 6 , Korean Air Flight 801, a Boeing 747, crashes while attempting to land in heavy rain at Guam International Airport, of the 254 people on board, only 26 survive.',
 '1997 August 10 , Formosa Airlines Flight 7601, a Dornier Do 228, crashes while attempting to land at Beigan, Lienchiang, in the Matsu Islands. All 16 passengers and crew on board are killed.',
 '1997 September 3 , Vietnam Airlines Flight 815, a Tupolev Tu-134, crashes on approach to Phnom Penh International Airport in heavy rain, killing 64 of the 66 people on board.',
 '1997 September 6 , Royal Brunei Airlines Flight 238, a Dornier Do 228, crashes into a hill side in Lambir Hills National Park, killing all 10 on board.']

In [63]:
# TODO: Convert clean_incidents into dataframe incidents_df

# You might find the Natural Language Toolkit (nltk) useful.
# See https://www.nltk.org/ for details.
#
# The stopwords module will let you find and remove not-very-useful
# words like articles ('the', 'a'). (We imported it earlier in the assignment)

# YOUR CODE HERE
import nltk
from nltk.corpus import stopwords

words = stopwords.words('english')

date = []
flight = []
flight_number = []
print(type(date))

#clean_incidents = pd.DataFrame(clean_incidents, split = ',')
for i in range(0,len(clean_incidents)):
    word_raw = nltk.word_tokenize(clean_incidents[i])#nltk 停用词问题
    word = [w for w in word_raw if(w not in stopwords.words('english'))]
    for j in range(0,len(word)):
        if re.match(',',word[j]) != None:
            break
    for k in range(0,len(word)):
        if re.match('Flight',word[k]) != None:
            break
    
    d = ' '
    d = d.join(word[:j])
    date.append(d)
    
    fl = ' '
    fl = fl.join(word[j+1:k])
    flight.append(fl)
    
    fl_num = ' '
    fl_num = fl_num.join(word[k+1:k+2])
    flight_number.append(fl_num)

    #p = re.match(',',word)
    #print(p)
incidents_df = pd.DataFrame({'Date':date,'Airline':flight,'FlightNum':flight_number})
incidents_df.head(50)
#len(incidents_df)
# word

<class 'list'>

                 Date                            Airline FlightNum
0      1997 January 9                             Comair      3272
1       1997 March 18  Stavropolskaya Aktsionernaya Avia      1023
2       1997 April 19         Merpati Nusantara Airlines       106
3          1997 May 8            China Southern Airlines      3456
4        1997 July 31                      FedEx Express        14
5        1997 July 17                        Sempati Air       304
6       1997 August 6                         Korean Air       801
7      1997 August 10                   Formosa Airlines      7601
8    1997 September 3                   Vietnam Airlines       815
9    1997 September 6              Royal Brunei Airlines       238
10  1997 September 26                   Garuda Indonesia       152
11    1997 October 10              Austral Líneas Aéreas      2553
12   1997 December 15                Tajikistan Airlines      3183
13   1997 December 17                           Aerosvit       241
14   1997 December 19                            SilkAir       185
15   1997 December 28                    United Airlines       826
16    1998 February 2                       Cebu Pacific       387
17   1998 February 16                     China Airlines       676
18      1998 March 22                Philippine Airlines       137
19      1998 April 20                         Air France       422
20        1998 May 25                                PIA       544
21       1998 June 18                            Propair       420
22       1998 July 30                   Proteus Airlines       706
23     1998 August 24                     Myanma Airways       635
24     1998 August 29                 Cubana de Aviación       389
25   1998 September 2                           Swissair       111
26  1998 September 25                           PauknAir      4101
27  1998 September 29                            Lionair       602
28   1998 December 11         Thai Airways International       261
29   1999 February 24           China Southwest Airlines      4509
30       1999 April 7                   Turkish Airlines      5904
31      1999 April 15                   Korean Air Cargo      6316
32        1999 June 1                  American Airlines      1420
33       1999 July 24                           Air Fiji       121
34       1999 July 24                 All Nippon Airways        61
35      1999 August 7                               TACV      5002
36     1999 August 22                     China Airlines       642
37     1999 August 31                               LAPA      3142
38   1999 September 5                          Necon Air       128
39  1999 September 14                  Britannia Airways      226A
40  1999 September 23                             Qantas         1
41    1999 October 31                           EgyptAir       990
42    1999 November 9                              TAESA       725
43   1999 November 12                             Si Fly      3275
44    1999 December 7                       Asian Spirit       100
45   1999 December 11                    SATA Air Açores      530M
46   1999 December 21                 Cubana de Aviación      1216
47   1999 December 22                   Korean Air Cargo      8509
48   1999 December 24                    Indian Airlines       814
49   1999 December 25                 Cubana de Aviación       310

In [64]:
# [CIS 545 Test Cases] (3 pts)
# Checking your dataframe size and shape

if len(incidents_df) < 330 or len(incidents_df) > 335: 
    raise ValueError("Don't have the expected number of entries")

if incidents_df.shape[1] != 3:
    raise ValueError("Don't have the expected number of fields")

if not ((incidents_df['Airline'] == 'Cebu Pacific') & \
        (incidents_df['Date'] == '1998 February 2') & \
        (incidents_df['FlightNum'] == '387')).any():
    raise ValueError('You might need to clean your data a bit better')
    
print('[CIS 545 Test Cases] (3 pts)')

[CIS 545 Test Cases] (3 pts)

In [65]:
# [CIS 545 Test Cases] (2 pts)
# We're going to be testing your data cleaning more thoroughly here


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [66]:
# [CIS 545 Test Cases] (2 pts)
# We're going to be testing your data cleaning more thoroughly here


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Now, we want to change the column type and clean data a bit further

In [67]:
# TODO: Change column type of 'Date' and drop duplicates

# YOUR CODE HERE
from datetime import datetime
# month = ['January','February','March','April','May','June','July','August','September','October','November','December']
# month_num = []
incidents_df.drop_duplicates(inplace=True)
# for i in range(0, len(incidents_df['Date'])):
#     incidents_df['Date'][i] = datetime.strptime(str(incidents_df['Date'][i]),'%Y %B %d')

incidents_df['Date'] = pd.to_datetime(incidents_df['Date'])
incidents_df

          Date                            Airline FlightNum
0   1997-01-09                             Comair      3272
1   1997-03-18  Stavropolskaya Aktsionernaya Avia      1023
2   1997-04-19         Merpati Nusantara Airlines       106
3   1997-05-08            China Southern Airlines      3456
4   1997-07-31                      FedEx Express        14
5   1997-07-17                        Sempati Air       304
6   1997-08-06                         Korean Air       801
7   1997-08-10                   Formosa Airlines      7601
8   1997-09-03                   Vietnam Airlines       815
9   1997-09-06              Royal Brunei Airlines       238
10  1997-09-26                   Garuda Indonesia       152
11  1997-10-10              Austral Líneas Aéreas      2553
12  1997-12-15                Tajikistan Airlines      3183
13  1997-12-17                           Aerosvit       241
14  1997-12-19                            SilkAir       185
15  1997-12-28                    United Airlines       826
16  1998-02-02                       Cebu Pacific       387
17  1998-02-16                     China Airlines       676
18  1998-03-22                Philippine Airlines       137
19  1998-04-20                         Air France       422
20  1998-05-25                                PIA       544
21  1998-06-18                            Propair       420
22  1998-07-30                   Proteus Airlines       706
23  1998-08-24                     Myanma Airways       635
24  1998-08-29                 Cubana de Aviación       389
25  1998-09-02                           Swissair       111
26  1998-09-25                           PauknAir      4101
27  1998-09-29                            Lionair       602
28  1998-12-11         Thai Airways International       261
29  1999-02-24           China Southwest Airlines      4509
..         ...                                ...       ...
301 2015-09-05    Ceiba Intercontinental Airlines        71
302 2015-09-08                    British Airways      2276
303 2015-10-02                           Aviastar      7503
304 2015-10-29                    Dynamic Airways       405
305 2015-10-31                           Metrojet      9268
306 2016-01-08                    West Air Sweden       294
307 2016-02-02                    Daallo Airlines       159
308 2016-02-24                           Tara Air       193
309 2016-03-19                           Flydubai       981
310 2016-03-29                           EgyptAir       181
311 2016-04-04                          Batik Air      7703
312 2016-05-19                           EgyptAir       804
313 2016-05-27                         Korean Air      2708
314 2016-06-27                 Singapore Airlines       368
315 2016-08-03                           Emirates       521
316 2016-08-05               ASL Airlines Hungary      7332
317 2016-08-27                 Southwest Airlines      3472
318 2016-10-28                  American Airlines       383
319 2016-10-28                      FedEx Express       910
320 2016-11-28                     LaMia Airlines      2933
321 2016-12-07    Pakistan International Airlines       661
322 2016-12-20                          Aerosucre      4544
323 2016-12-23                  Afriqiyah Airways       209
324 2017-01-16                   Turkish Airlines      6491
325 2017-03-28                  Peruvian Airlines       112
326 2017-05-27                         Summit Air       409
327 2017-07-07                         Air Canada       759
328 2017-09-30                         Air France        66
329 2017-12-13                 West Wind Aviation       280
330 2018-01-13                   Pegasus Airlines      8622

[322 rows x 3 columns]

In [68]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

## Final Output

The following cells just show what the data looks like.  You should sanity check that it makes sense.

In [69]:
airports_df.head(10)

,airport_id,airport_name,airport_city,airport_country,airprot_iata_faa,airport_icao,latitude,longitude,altitude,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule

In [70]:
airlines_df.head(10)

,airline_id,airline_name,alias,airline_iata,airline_icao,airline_callsign,airline_country,active
0,1,Private flight,,-,,,,Y
1,2,135 Airways,,,GNL,GENERAL,United States,N
2,3,1Time Airline,,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,,,WYT,,United Kingdom,N
4,5,213 Flight Unit,,,TFU,,Russia,N
5,6,223 Flight Unit State Airline,,,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,,,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,,,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,,,SEC,SECUREX,United States,N
9,10,40-Mile Air,,Q5,MLA,MILE-AIR,United States,Y

In [71]:
routes_df.head(10)

,airline_iata_icao,airline_id,src_iata_icao,source_id,target_iata_icao,target_id,code_share,stops,equipment
0,2B,410,AER,2965,KZN,2990,,0,CR2
1,2B,410,ASF,2966,KZN,2990,,0,CR2
2,2B,410,ASF,2966,MRV,2962,,0,CR2
3,2B,410,CEK,2968,KZN,2990,,0,CR2
4,2B,410,CEK,2968,OVB,4078,,0,CR2
5,2B,410,DME,4029,KZN,2990,,0,CR2
6,2B,410,DME,4029,NBC,6969,,0,CR2
8,2B,410,DME,4029,UUA,6160,,0,CR2
9,2B,410,EGO,6156,KGD,2952,,0,CR2
10,2B,410,EGO,6156,KZN,2990,,0,CR2

In [72]:
incidents_df.head(10)

        Date                            Airline FlightNum
0 1997-01-09                             Comair      3272
1 1997-03-18  Stavropolskaya Aktsionernaya Avia      1023
2 1997-04-19         Merpati Nusantara Airlines       106
3 1997-05-08            China Southern Airlines      3456
4 1997-07-31                      FedEx Express        14
5 1997-07-17                        Sempati Air       304
6 1997-08-06                         Korean Air       801
7 1997-08-10                   Formosa Airlines      7601
8 1997-09-03                   Vietnam Airlines       815
9 1997-09-06              Royal Brunei Airlines       238

## Step 3: Making Data “Persistent”

Now let’s actually save the data in a persistent way, specifically using a relational database.  For simplicity we’ll use SQLite here, but we could alternatively use a DBMS such as MySQL or PostgreSQL on the cloud (or in another Docker container).

The cell below establishes a connection to an SQLite database, which will be written to the file HW1_DB in your HW1 Jupyter directory.

In [73]:
# sqlite3 allows for use of SQL queries in Python. Just run this cell, no edits needed!
import sqlite3
engine = sqlite3.connect('HW1_DB')

Now save each of your DataFrames (`airlines_df`, `airports_df`, `flights_df`, `routes_df`, `incidents_df`) to the database.  To do this, call the `to_sql` method (make sure to not save the `index` column since it doesn't matter!) on the DataFrame.  Give it a table name matching the DataFrame name, and set the flag `if_exists=’replace’` in case you want to run this multiple times.

Once this is all done, you can move on to Homework 1, Part 2, which will use the DataFrames saved to the SQL database.

In [74]:
# TODO: Use to_sql to save your Dataframes to the HW1_DB

# YOUR CODE HERE
airlines_df.to_sql('airlines', engine, if_exists='replace', index = None)
airports_df.to_sql('airports', engine, if_exists='replace', index = None)
flights_df.to_sql('flights', engine, if_exists='replace', index = None)
routes_df.to_sql('routes', engine, if_exists='replace', index = None)
incidents_df.to_sql('incidents', engine, if_exists='replace', index = None)
#pd.read_sql('select * from airports',engine).head(10)

In [75]:
# Test that the data is there!
# No points for this test case!

cursor = engine.execute('select * from airports limit 1000')
rows = cursor.fetchall()

# View some data
for i in range(10):
    print(rows[i])

if len(rows) < 1000:
    raise ValueError('Somehow fewer than 1000 airports were written')

(1, 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', -6.081689, 145.391881, 5282, 10.0, 'U', 'Pacific/Port_Moresby')
(2, 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', -5.207083, 145.7887, 20, 10.0, 'U', 'Pacific/Port_Moresby')
(3, 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', -5.826789, 144.295861, 5388, 10.0, 'U', 'Pacific/Port_Moresby')
(4, 'Nadzab', 'Nadzab', 'Papua New Guinea', 'LAE', 'AYNZ', -6.569828, 146.72624199999998, 239, 10.0, 'U', 'Pacific/Port_Moresby')
(5, 'Port Moresby Jacksons Intl', 'Port Moresby', 'Papua New Guinea', 'POM', 'AYPY', -9.443383, 147.22005, 146, 10.0, 'U', 'Pacific/Port_Moresby')
(6, 'Wewak Intl', 'Wewak', 'Papua New Guinea', 'WWK', 'AYWK', -3.583828, 143.669186, 19, 10.0, 'U', 'Pacific/Port_Moresby')
(7, 'Narsarsuaq', 'Narssarssuaq', 'Greenland', 'UAK', 'BGBW', 61.160517000000006, -45.425978, 112, -3.0, 'E', 'America/Godthab')
(8, 'Nuuk', 'Godthaab', 'Greenland', 'GOH', 'BGGH', 64.190922, -51.678064, 283, -3.0, 'E', 'America/Godthab')
(9, 'Sondre Stromfjord', 'Sondrestrom', 'Greenland', 'SFJ', 'BGSF', 67.01696899999999, -50.689325, 165, -3.0, 'E', 'America/Godthab')
(10, 'Thule Air Base', 'Thule', 'Greenland', 'THU', 'BGTL', 76.531203, -68.703161, 251, -4.0, 'E', 'America/Thule')